@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes soft-pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.8; }
}

.animate-soft-pulse {
  animation: soft-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
